@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="center">
    <h1 class="display-4">Welcome</h1>
    
    <table border="1">
        <thead>
            <tr><th>My Favorite Tennis Player</th>
           <th>My Team Favourite Shortcuts</th></tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="~/lib/TennisPlayer.html">Alex De Minaur</a></td>
                <td><a href="~/Individual.xml">Team Shortcuts</a></td>
            </tr>
        </tbody>
    </table>
</div>
