body {
    background-image: url('https://www.thebalancesmb.com/thmb/LOiSDrf5OQMWDwnZxq9ISksPMUI=/533x400/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-907736222-5bd818fa46e0fb0051685a1b.jpg');
}

#finaltab {
    background-color: lightblue;
}

#head1 {
    color: lightsteelblue;
    font-family: serif;
}