@page
@model LicenseOwners.Pages.NobellaureateModel
@{
    ViewData["Title"] = "Nobellaureate";
}

<div class="text-center">

    <h1 class="display-4">List of Business Owners</h1>
    <table border="1">
        <tr>
            <td><strong>Account Number</strong></td>
            <td><strong>License Number</strong></td>
            <td><strong>Business Name</strong></td>
            <td><strong>City</strong></td>
            <td><strong>State</strong></td>
            <td><strong>Business Activity</strong></td>
            <td><strong>Owner First Name</strong></td>
            <td><strong>Owner Last Name</strong></td>
            <td><strong>Owner Title</strong></td>
        </tr>



    </table>


</div>

